/* Primary color theme */
:root {
	--accent-color: hsl(204.84deg 82.73% 61.61% / 95%);
	-–
	accent-color-contrast: hsl(0deg 0% 100%);
	--background-color: hsl(0deg 0% 0%);
	--background-color-contrast: hsl(198, 10%, 10%);
	--background-color-contrast-more: hsl(228deg 4.49% 30.55%);
	--background-color-graph: hsl(209deg 7.76% 7.79%);
	--background-color-inputs: hsl(197.19deg 92.38% 14.15%);
	--font-color-primary: hsl(198, 5%, 100%);
	--font-color-secondary: hsl(209deg 7.76% 7.79%);
	--font-color-inputs: hsl(0deg 0% 100%);
	--font-primary: 'Roboto', sans-serif;
	--font-secondary: Nunito;
	--scrollbar-color: 0, 0, 0;
	--scrollbar-accent: 255, 255, 255;
	--header-color: hsl(198deg 7.25% 15.48%);
	--header-links-color: hsl(190.76deg 91.1% 90.05%);
	--header-menu-icon-color: hsl(0deg 0% 100%);
	--logo-filter: none;
	--svg-filter: invert(1);
}

body.dark-mode {
    --accent-color: hsl(223, 25%, 10%);
    --accent-color-contrast: hsl(223, 12%, 42%);

    --background-color: hsl(29, 73%, 93%);
    --background-color-contrast: hsl(0, 0%, 90%);
    --background-color-contrast-more: hsl(223, 12%, 58%);
    --background-color-graph: hsl(29, 100%, 96%);
    
    --background-color-inputs: hsl(29, 100%, 97%);
    
    --font-color-primary: hsl(223, 25%, 10%);
    --font-color-secondary: hsl(29, 100%, 100%);
    --font-color-inputs: hsl(0, 0%, 0%);
    
    --font-primary: 'Open Sans', sans-serif;
    --font-secondary: monospace;
    
    --scrollbar-color: 255,255,255;
    --scrollbar-accent: 0,0,0;
        
    --header-color: hsl(223, 25%, 10%);
    --header-links-color: hsl(0, 0%, 0%);
    --header-menu-icon-color: hsl(0, 0%, 0%);
    
    --logo-filter: none;
    --svg-filter: invert(0);
}
